:root{
    --negro: #171717;
    --celeste: red;
    --violeta: violet;
}

*{
    padding:0;
    margin:0;
}

body{
    background-color: var(--negro);
    overflow: hidden;
}

.card{
    width: min(90%, 1000px);
    margin-inline: auto;
    margin-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
    position: relative;
    
}

.card__title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0.8em;
    padding: 1em;
    line-height: 1.2;
}

.card__content{
    position: relative;
}

img{
    width: 13em;
    display: block;
    margin-inline: auto;
    margin-bottom: 1em;
    border-radius: 1em;
}

.card__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    width: 14em;
    margin: 1em auto;
}

.options{
    
    margin: 0.6em;
    border: none;
    text-align: left;
    padding: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    background-color: var(--negro);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.options:hover, .options:focus{
    background-color: #414141bd;
}

.options input{
    display: none;
}

.card__btn__section{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.boton{
    width: 10em;
    height: 4em;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 49, 83);
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: white;
    letter-spacing: 0.2em;
    cursor: pointer;

}

.circle{
    border: solid 0.7em var(--violeta);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 10%;
    display: none;
}

.level{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;
    color: var(--violeta);
    display: none;
}

@media (min-height:700px){
    img{
        width: 17em;
        display: block;
        margin-inline: auto;
        margin-bottom: 1em;
        border-radius: 1em;
    }

    .card__form{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        width: 18em;
        margin: 1em auto;
    }

    .options{
    
        margin: 1em;
        border: none;
        text-align: left;
        padding: 1em;
        border-radius: 5px;
        border-style: solid;
        border-color: white;
        background-color: var(--negro);
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 0.2em;
    }

    .card__btn__section{
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .circle{
        border: solid 0.7em var(--violeta);
        width: 6em;
        height: 6em;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 30%;
        right: 10%;
        display: none;
    }

    .level{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 2em;
        color: var(--violeta);
        display: none;
    }
}

@media (min-width:1000px){

    .card{
        width: min(90%, 1000px);
        margin-inline: auto;
        margin-top: 2em;
        padding-bottom: 1em;
        border-radius: 10px;
        box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
        -webkit-box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
        -moz-box-shadow: 7px 5px 12px 2px rgba(0,0,0,0.36);
        
    }

    .card__title{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 0.8em;
        padding: 3em;
        line-height: 1.2;
    }

    .card__form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 35em;
        margin: 2em auto;
    }


    img{
        width: 20em;
        height: 20em;
        display: block;
        margin-inline: auto;
        margin-top: 0.5em;
        margin-bottom: 1em;
        border-radius: 1em;
        order: 2;
    }

    .options{
    
        margin: 0.5em;
        border: none;
        text-align: left;
        padding: 1em;
        border-radius: 5px;
        border-style: solid;
        border-color: white;
        background-color: var(--negro);
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 0.2em;
    }

    .options input{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
    }

    .circle{
        border: solid 0.7em var(--violeta);
        width: 6em;
        height: 6em;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 30%;
        right: 10%;
    }

    .level{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 2em;
        color: var(--violeta);
        display: block;
    }


}

.hide{
    display: none;
}